<mat-card>
  <mat-card-header>
    <mat-card-title>Bienvenue sur le site internet du parc d'attraction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="attraction-title">
      <div class="attraction">
        <span>Nom de l'attraction</span>
        <span>Description de l'attraction</span>
        <span>Difficulté de l'attraction / 5</span>
      </div>
    </div>
    <div *ngIf="attraction" class="attraction">
      <span>{{ attraction.nom }}</span>
      <span>{{ attraction.description }}</span>
      <span>{{ attraction.difficulte }} / 5</span>
    </div>

    <div class="critique-title">
      <div class="critique">
        <span>Auteur</span>
        <span>Commentaire</span>
        <span>Note / 5</span>
      </div>
    </div>
    <div *ngFor="let critique of critiques" class="attraction">
      <span>{{ critique.prenom }} {{ critique.nom }}</span>
      <span>{{ critique.critique }}</span>
      <span>{{ critique.note }} / 5</span>
    </div>
  </mat-card-content>
</mat-card>
